<% include partials/header %>
<% include ./functions %>

<!-- Title banner -->
<div class="page-title">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h2>Ideas</h2>
      </div>
    </div>
  </div>
</div>

<!-- Primary content -->
<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <div class="idea-submission">
          <form action="/ideas" method="POST">
              <input class="form-control" type="text" id="ideaTitle" name="ideaTitle" placeholder="Share your project idea...">

              <textarea id="home-page-idea-submission" class="form-control displayNone" type="text" id="ideaDescription" name="ideaDescription" placeholder="Explain your idea. Good descriptions give context and examples, to inspire readers." cols="100" rows="7"></textarea>

              <input type="submit" class="btn btn-primary clear">
          </form>
      </div>
    </div>
  </div>
  <div class="row">
      <!-- Filters nav -->
      <!-- <div class="col-xs-12 col-md-3">
        <div class="filter-ideas">
          <h3>Filter Ideas By:</h3>
          <ul>
            <li><input type="checkbox" name="tag1" checked> Tag 1</li>
            <li><input type="checkbox" name="tag2" checked> Tag 2</li>
            <li><input type="checkbox" name="tag3" checked> Tag 3</li>
            <li><input type="checkbox" name="tag4" checked> Tag 4</li>
          </ul>
        </div>
      </div> -->

      <!-- Sort by... -->
      <div class="col-xs-12 col-md-12">
        <div class="sort-ideas">
          <p>Sort by:
            <a href="#" class="active">new</a>
            <a href="#">activity</a>
            <a href="#">title</a>
            <a href="#">popular</a>
          </p>
        </div>
      </div>

      <!-- Ideas list -->
      <div class="col-xs-12 col-md-12">
        <% for (var i = ideas.length - 1; i >=0; i--) { %>
          <div class="idea-card">
            <div>
              <h3><a href="/idea/<%= ideas[i]._id %>"><%= ideas[i].title %></a></h3>
              <p class="date-submitted"><%= timeSince(ideas[i].createdAt) %></p>
            </div>
            <div>
              <p><%= ideas[i].description %></p>
              <p>&mdash; <%= ideas[i].author.username %></p>
              <!--<div class="actions">
                <div class="like-idea">
                  0
                  <i class="fa fa-thumbs-o-up" aria-hidden="true"></i>
                  Votes
                </div>
                <div class="watch-idea">
                  1
                  <i class="fa fa-star" aria-hidden="true"></i>
                  Watching
                </div>
                <div class="comment-count">
                  3
                  <i class="fa fa-comment-o" aria-hidden="true"></i>
                  Comments
                </div>
                <div class="flag-idea">
                  <i class="fa fa-exclamation-circle" aria-hidden="true"></i>
                  Flag
                </div>
              </div>-->
            </div>
          </div>
        <%  } %>
      </div>
    </div>
</div>

<script>
  $(function() {
    // Reveal description input when user clicks into main idea input
    $('#ideaTitle').on('click', function(){
      $('#ideaDescription').slideDown(200);
    });

    $("#home-page-idea-submission").on("keydown", function (event) {
            if ((event.ctrlKey || event.metaKey) && (event.keyCode == 13 || event.keyCode == 10)) {
              console.log('hello there my friend');
              this.form.submit();
            }
       });
       
  });

</script>


<% include partials/footer %>